<launch>
  <arg name="paused" default="true"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find ur3_with_gripper_description)/urdf/ur3_with_2f85.urdf.xacro'"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" output="screen"
        args="-param robot_description -urdf -model ur3_with_2f85"/>
</launch>
